.LinksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -50px auto 80px;
}

.LinksList__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  max-width: 1300px;
  background-color: var(--color-white);
  margin-bottom: 18px;
  padding: 28px;
  width: 76%;
}

.LinksList__link {
  font-size: 22px;
  display: block;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 25px;
}

.LinksList__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.LinksList__generatedLink {
  font-size: 22px;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 25px;
}

.LinksList__copyToClipboard {
  background-color: var(--color-primary);
  border: none;
  padding: 8px 25px;
  font-size: 15px;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}

.LinksList__copyToClipboard:hover {
  background-color: var(--color-primary-light);
}

.LinksList__copyToClipboard--copied, .LinksList__copyToClipboard--copied:hover {
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1440px) {
  .LinksList__item {
    flex-direction: row;
  }

  .LinksList__link {
    word-break: break-word;
    margin: 0 35px 0 0;
  }

  .LinksList__actions {
    flex-direction: row;
  }

  .LinksList__generatedLink {
    margin: 0 25px 0 0;
  }
}

