* {
  outline: none;
}

body {
  background-color: var(--color-gray-light);
}

.heading {
  background-color: white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph {
  color: var(--color-secondary-light);
  letter-spacing: 1px;
  text-align: center;
  line-height: 28px;
  margin: 0 12px 35px;
}

.paragraph--small {
  font-size: 15px;
  margin: 0 40px 45px;
  letter-spacing: 0;
}

.title {
  font-size: 43px;
  margin: 50px 10px 25px;
  font-weight: 700;
  text-align: center;
  color: var(--color-secondary-darker);
}

@media screen and (min-width: 1440px) {
  .heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }

  .paragraph {
    max-width: 500px;
  }

  .paragraph--left {
    text-align: left;
  }

  .title {
    font-size: 67px;
    text-align: left;
  }
}